@font-face {
  font-family: OswaldRegular; /* Имя шрифта *////////
  src: url("fonts/Oswald-Regular.ttf"); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: AmaticSCBold;/* Имя шрифта *////////
  src: url("fonts/AmaticSC-Bold.ttf"); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: RobotoLight; /* Имя шрифта */////////
  src: url("fonts/Roboto-Light.ttf"); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: ViburRegular; /* Имя шрифта *///////////
  src: url("fonts/Vibur-Regular.ttf"); /* Путь к файлу со шрифтом */
 }
 @font-face{
   font-family: ExodusPersonalUseStriped;
   src: url("fonts/Exodus-PersonalUse-Striped.otf");
 }
 @import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
 i {
  font-family: fontawesome !important;
  }